.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Map {
  margin-top: 0;
}

.Main {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
